<!doctype html>
<html lang="en">
  <head>
    <title>Sidebar 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    <style>
      table{ 
  
      border-collapse:separate; 
      border-spacing: 10px ; 
      column-gap: 35px;
      } 
      th,td{ 
        width:240px;
      text-align: center; 
      padding: 0px;
      }
      
      .btn:hover {
        background-color:lightgrey;
      }
   </style>
  </head>
  <body>
    
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
          </button>
        </div>
        <div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
          <div class="user-logo">
            <div class="img" style="background-image: url(../images/logo.jpg);"></div>
            <h3><%=name%></h3>
          </div>
        </div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/mycourses"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="/upload"><span class="fa fa-upload mr-3"></span> Upload </a>
          </li>
          <li>
            <a href="/submissions"><span class="fa fa-pencil mr-3"></span> Grade </a>
          </li>
          <li>
            <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>
 
      </nav>
      
        <!-- Page Content -->
    
 
        <div class="card w-100 mb-5" style="margin: 50px;">
          <h5 class="card-header text-center"  ><b>My Course: <%=result1[0].course_name%> </b></h5>
 
          <div class="card-img-top d-flex align-items-center bg-light" >
            <div style="padding-left: 100px;">
            <% if(result1[0].domain=="sketching"){%>
              <img src="..\public\images\s.png" class="img-fluid" alt="Card image cap" style="width:15rem; height:15rem; align-self: center; border-style: solid; margin:20px; ">
              <%}else if(result1[0].domain=="photography"){%>
                <img src="..\public\images\p.png" class="img-fluid" alt="Card image cap" style="width:15rem; height:15rem; align-self: center; border-style: solid; margin:20px; ">
  
                <%}else if(result1[0].domain=="film making"){%>
                  <img src="..\public\images\f.png" class="img-fluid" alt="Card image cap" style="width:15rem; height:15rem; align-self: center; border-style: solid; margin:20px; ">
  
                  <%}else if(result1[0].domain=="essay writing"){%>
                    <img src="..\public\images\e.png" class="img-fluid" alt="Card image cap" style="width:15rem; height:15rem; align-self: center; border-style: solid; margin:20px; ">
  
                    <%}else if(result1[0].domain=="foreign language"){%>
                      <img src="..\public\images\l.png" class="img-fluid" alt="Card image cap" style="width:15rem; height:15rem; align-self: center; border-style: solid; margin:20px; ">
  <%}%>
            </div>
              <p class="col p-2 m-0" ><br><b>About: <%=result1[0].course_info%> </b>
                <br><br>
                <b>Name</b>: <%=name%><br><br>
              <b>Domain</b>: <%=result1[0].domain%><br><br>
              <b>Subscribers</b>: <%=countS%><br><br>
              <b>Assignments</b>: <%=countA%><br><br>
              </p>
         
          </div>
        
        
        <div class="card-body">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Assignments
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <table>
    
                  <%result2.forEach(function(result2){%>
      
                  <tr>
                    <td><%= result2.assignment_name %></td>
                    <td></td>
                    <td></td>
                    <td><form action="/mycourses" method="POST" >
 
                      <input type = "hidden" name = "assignment_id" value = "<%=result2.assignment_id %>" />
 
                      <button type="submit" class="btn" style="color:cornflowerblue;" ><i class="fa fa-close" ></i></button>
                    </form>
                      </td>
                    <tr>
                      <%})%>
                    </table>                </div>
              </div>
          
            
          
 
     
     
    
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="/MIP/db.js"></script>
  </body>
</html>