<!doctype html>
<html lang="en">
  <head>
  	<title>Photography</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
        <style>
          body{
        background: #2980B9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
            table{ 
            border-collapse:separate; 
            border-spacing: 20px 0; 
            column-gap: 35px;
            } 
            th,td{ 
            width: 150px; 
            text-align: center; 
            padding: 5px;
            }
            .card{
              box-shadow: 5px 10px 8px #3870c9;
              color :#32373d;
            }
            .card-header{
              background-color: #32373d;
              color: white;
            }
            .card-header button{
              color: white;
            }
          </style>
  </head>
  <body>
		
    <div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(../images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(../images/logo.jpg);"></div>
	  				<h3><b><%=name%></b></h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li>
            <a href="/stu_course"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="/user/mycourses"><span class="fa fa-book mr-3"></span>My Courses</a>
          </li>
          <li>
            <a href="/assignment"><span class="fa fa-upload mr-3"></span> Assignments </a>
          </li>
          <li class="active">
            <a href="/progress"><span class="fa fa-trophy mr-3"></span> Progress </a>
          </li>
          <li>
            <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>

    	</nav>

      <div id="content" class="p-4 p-md-5">

        <div id="content" class="p-4 p-md-5">
          <div class="card-header">PROGRESS REPORT</div>
                
           
          <div class="card">
              <div class="card-body" >
                <%results1.forEach(function(result1){%>
                  <%var flag=0%>
                  <%var sum=0%>
                        
                            <div id="accordion">
                              <div class="card">
                                <div class="card-header" id="<%= result1.course_name %>">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#<%= result1.course_id %>" aria-expanded="true" aria-controls="<%= result1.course_id %>" style="font-size: medium;">
                                      <%= result1.course_name %>
                                    </button>
                                  </h5>
                                </div>
                            
                                <div id="<%= result1.course_id %>" class="collapse show" aria-labelledby="<%= result1.course_name %>" data-parent="#accordion">
                                  <div class="card-body">
                                    <table>
                                        <tr>
                                           <th>Assignment</th><th>Grade</th><th>XP's</th><th>Total XPs</th>
                                        </tr>
                                        <%results2.forEach(function(result2){%>
                                          <% if(result2.course_id == result1.course_id){%>
                                            <%sum=sum+result2.XPs%>
                                      <tr>
                                    <td><%= result2.assignment_name %></td>
                                    <td><%= result2.grade %></td>
                                    <td><%= result2.XPs %></td>
                                    <% if(sum==result1.total){%>
                                      <td><%= result1.total %>/400</td>
                                      <%if(result1.total/40>=0.75){%>
                          
                                        <td><form action="/progress" method="POST" >
  
                                            <input type = "hidden" name = "course_name" value = "<%=result2.course_name %>" />
                                            <input type = "hidden" name = "date" value = "<%=result2.date %>" />
                
                                            <button type="submit" class="btn btn-info">View Certificate</button>
                                          </form></td><%}%>
                                          <%}%>
                                    <%}%> 
                                      </tr>                                
                                   </div>
                                </div>
                              </div>

                                <%})%>
                              </table>

                          </div>

                     
                     
                    </div>
            </div> <br> 
            <% }) %>

      </div>


    </div></div></div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>